*{
    margin: 0;
    padding:0;
    font-size: 12px;
    color: #222;
    font-family: "Roboto Condensed", "Helvetica Neue", Helvetica, sans-serif;
    text-decoration: none;
}
#mainBody{
    width:100%;
    min-height: 720px;
    background: url("../img/4a0aa0f0c80f34ec0fca3369603a80e9.jpg") no-repeat;
    background-size: cover;
    overflow: hidden;
    position: relative;
}
#body_particle{
    position: absolute;
    left: 17% ;
    top:0;
    width:85%;
    height: 720px;
    /*background: #32beff;*/
    z-index: 2;

}
.list{
    display: block;
    width: 10%;
    height: 600px;
    background: url("../img/5295460_000548689187_2.png") no-repeat 8px 2px;
    margin-top: 60px;
    margin-left: 120px;
}
.list a:nth-child(2n+1){
    display: block;
    width: 63px;
    height: 32px;
    line-height: 32px;
    text-align: left;
    padding-left: 10px;
    font-weight: 300;
    font-family: 'Tahoma', '微软雅黑';
    background: url("../img/label11.png");
    color: #fff;
    margin-bottom: 10px;
}
.list a:nth-child(2n){
    display: block;
    width: 59px;
    height: 48px;
    line-height: 48px;
    text-align: right;
    padding-right: 5px;
    color: #797979;
    margin-left: 73px;
    font-weight: 300;
    font-family: 'Tahoma', '微软雅黑';
    background: url("../img/label7.png");
}
.list a:hover{
    transform: scale(1.2,1.2);
    color: #ee5360;
}

.advert{
    width: 100%;
    height: 200px;
    margin: 0 auto;
    border-top: 2px solid #FF8184;
    border-bottom: 2px solid #FF8184;
    /*overflow: hidden;*/
}
.carousel{
    width:100%;
    height:200px;
    float:left;
    overflow: hidden
}

.search{
    background-color: #2f2f2f;
    padding: 25px 0;
    height: 100px;
    width: 100%;
}
.search .form{
    width: 80%;
    height: 75px;
    margin: 25px auto;
}
.search .searchContent{
    display: block;
    font-size: 20px;
    width: 80%;
    height: 55px;
    padding: 8px 12px;
    float: left ;
    border: none;
    border-radius: 4px 0 0 4px;
    color: #a6a6a6;
}
.search .submit{
    display: block;
    font-size: 20px;
    width: 20%;
    height: 55px;
    float: left;
    border: 1px solid #FF8184;
    border-radius: 0 4px 4px 0;
    background: #FF8184;
    font-weight: 400;
    color: #fff;
}
.search .submit:hover{
    background-color: #c8c8c8;
    color: #6f6f6f;
    border-color: #c8c8c8;
}






