*{
    margin: 0;
    padding:0;
    font-size: 12px;
    color: #222;
    font-family: "微软雅黑","Roboto Condensed", "Helvetica Neue", Helvetica, sans-serif;
    text-decoration: none;
}
#mainBody{
    width:100%;
    overflow: hidden;
    background: #F8F8F8;
}
#mainBody .shop_list{
    width: 100%;
    height: 180px;
    background-color: #111;
    border-top: 3px solid #ff857e;
}
#mainBody .shop_list .shop_list_inner{
    width: 1400px;
    height: 160px;
    margin: 0 auto;
    color: #d8d8d8;
    padding-top: 20px;
}
#mainBody .shop_list .shop_list_inner a{
    color: #d8d8d8;
    padding: 0 5px;
    font-size: 14px;
}
#mainBody .shop_list .shop_list_inner a:first-child:hover{
    color: #ffffff;
    text-decoration: underline;
}
#mainBody .shop_list .shop_list_inner p{
    color: #ededed;
    padding: 0 5px;
    font-weight: 500;
    font-size: 48px;
    margin-top: 40px;
}
#mainBody .main_inner{
    width: 1400px;
    overflow: hidden;
    margin: 0 auto;
    padding: 50px 20px;
}
#mainBody .shop_left{
    overflow: hidden;
    width: 300px;
    float: left;
}
.search{
    background-color: #fbfbfb;
    padding: 20px;
    width: 300px;
}
.search h3{
    padding-bottom:15px;
    width: 260px;
    border-bottom: 1px solid #ffb1a6;
    color: #636363;
    font-size: 24px;
    font-family: "Roboto Condensed", Helvetica, sans-serif;
    font-weight: 100;
}
.search .form{
    width: 300px;
    height: 75px;
    margin-top: 30px;
}
.search .searchContent{
    display: block;
    font-size: 18px;
    width: 60%;
    height: 40px;
    padding: 8px 12px;
    float: left ;
    border-radius: 4px 0 0 4px;
    color: #a6a6a6;
}
.search .submit{
    display: block;
    font-size: 20px;
    width: 30%;
    height: 40px;
    float: left;
    border: 1px solid #FF8184;
    border-radius: 0 4px 4px 0;
    background: #FF8184;
    font-weight: 400;
    color: #fff;
}
.search .submit:hover{
    background-color: #c8c8c8;
    color: #6f6f6f;
    border-color: #c8c8c8;
}
.itemClass{
    background-color: #fbfbfb;
    padding: 20px;
    width: 300px;
    margin-top: 50px;
}
.itemClass h3{
    padding-bottom:15px;
    border-bottom: 1px solid #ffb1a6;
    color: #636363;
    font-size: 24px;
    font-family: "Roboto Condensed", Helvetica, sans-serif;
    font-weight: 100;
}
.itemClass .itemClassList{
    padding: 20px;
}
.itemClass .itemClassList a{
   display: block;
    height: 32px;
    line-height: 32px;
    width: 100px;
    padding-left: 50px;
    margin-bottom: 10px;
    background: url("../img/item.png") no-repeat;
}
#mainBody .shop_right{
    overflow: hidden;
    width: 1050px;
    /*height: 600px;*/
    float: right;
}
#mainBody .shop_right h3{
    font-size: 24px;
    font-family: "Roboto Condensed", Helvetica, sans-serif;
    font-weight: 100;
    border-bottom: 1px solid #ffb1a6;
    padding: 20px 0 15px 0;
    color: #4f4f4f;;
}
#mainBody .shop_right .item{
    width: 320px;
    height: 480px;
    border-radius: 10px;
    overflow: hidden;
    background-color: #fff;
    position: relative;
    float: left;
    margin: 40px 15px;
    box-shadow: #a7a7a7 3px 3px;
}
#mainBody .shop_right .item a{
    display: block;
    width: 320px;
    height: 300px;
    overflow: hidden;
}
#mainBody .shop_right .item img{
    width: 320px;
    height: 300px;
}
#mainBody .shop_right .item img:hover{
    transform: scale(1.2);
    transition-duration: 2s;
}
#mainBody .shop_right .item h4{
    margin: 20px;
    display: block;
    height: 60px;
    width: 280px;
    font-size: 20px;
    line-height: 30px;
    font-weight: 400;
}
#mainBody .shop_right .item p{
    font-weight: 100;
    margin: 20px;
    font-size: 20px;
}
#mainBody .shop_right .item button{
    position: absolute;
    bottom: 20px;
    right: 10px;
    padding: 10px 15px;
    border-radius: 4px;
    background-color: #FF8184;
    border: none;
    color: #fff;
    font-size: 18px;
    cursor: pointer;
}
#mainBody .shop_right .item button:hover{
    background-color: #c8c8c8;
    color: #6f6f6f;
}